{#
/**
 * @file
 * Bread template
 *
 * Available variables:
 * - bread: The text for the bread.
 * - artist_id: The content sandwich artist id.
 */
#}
<div class="bread bread-{{ artist_id }}">{{ bread|raw }}</div>
