{#
/**
 * @file
 * Sauce template
 *
 * Available variables:
 * - sauce: The text for the sauce.
 * - artist_id: The content sandwich artist id.
 */
#}
<div class="sauce sauce-{{ artist_id }}">{{ sauce|raw }}</div>
